
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">NavBar</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/coches']">Coches <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/colores']">Colores <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Marcas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/coches','Renault']">Renault</a>
            <a class="dropdown-item" [routerLink]="['/coches','Seat']">Seat</a>
            <a class="dropdown-item" [routerLink]="['/coches','Tesla']">Tesla</a>
          </div>
        </li>
      </ul>
      
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" #nombre type="search" placeholder="Search" [ngModel]="nombre"  aria-label="Search" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]="['/coches',this.nombre.value]">Search</button>
      </form>
    </div>
  </nav>
