
<div class="alert alert-dark" role="alert">
  El numero de colores es: {{contador()}}
</div>

<div class="container-fluid">
<div class="row">
<div class="card text-white mb-3" [ngStyle]="{'color': item.texto,'background-color':item.hex}"style="max-width: 18rem;" *ngFor="let item of colores">
    <div class="card-header">{{item.nombre}}</div>
    <div class="card-body">
      <h5 class="card-title">Hexadecimal: {{item.hex}}</h5>
      <p class="card-text">Color del texto: {{item.texto}}</p>
    </div>
  </div></div></div>